*{
    margin: 0px;
    padding: 0px;
}
.logo{
    background-color:rgba(10, 10, 10, 0.807) ;
    margin: 0px;
    padding: 17px;
    font-size: 30pt;
    color: rgb(249, 239, 239);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: right;
}
.logo:hover{
    background-color: black;
    color: bisque;
}
.ugh ul{
    list-style-type: none;
    background-color:rgba(10, 10, 10, 0.807) ;
    margin: 0px;
    padding: 23.5px;
    overflow: hidden;
}
.ugh a{
    text-decoration: none;
    color: white;
    margin: 0px;
    padding: 11px;
    display: block;
    float: left;
    border-radius: 11px;
}
.ugh a:hover{
    color: beige;
    background-color: black;
}
